.lista {
	font-family: arial, sans-serif;
	color: white;
	background-color: #16453f;
	border: 3px solid white;
	border-radius: 10px;
	padding-right: 13px;
	padding-left: 10px;
	margin: 2px;
	margin-right: 850px;
	margin-left: 5px;
	min-width: 320px;
	max-width: 900px;
}

.botao{
	border: 3px solid #94654c;
	border-radius: 5px;
	background-color: #fcf59b;
	color: #94654c;
	float: right;
	margin margin-bottom: 2px;
}

body{
	background-color: #59a87d;
}

.titulo{
	background-color: #16453f;
	color: #ffb145;
	border: 3px solid #ffb145 ;
	border-radius: 5px;
	padding-right: 13px;
	padding-left: 10px;
	margin-right: 700px;
	margin-left: 5px;
	min-width: 320px;
	max-width: 900px;
}

.titulo img{
	padding-top: 120px;
	width: 90px;
	float: right;
}


