.lista {
	font-family: arial, sans-serif;
	color: white;
	background-color: #16453f;
	border: 3px solid green;
	border-radius: 10px;
	padding-right: 13px;
	padding-left: 10px;
	margin: 2px;
	width: 500px;
	
}

.lista a :hover{
	background-color: black;
	color: green;
	border: 3px solid green;
	border-radius: 5px;
	padding: 2px;

}

.botao{
	
	border-radius: 5px;
	background-color: #fcf59b;
	color: #94654c;
	float: right;
	margin margin-bottom: 2px;
	text-decoration: none;
	font-size: 20px;
}

body{
	background: linear-gradient(to top, green, white);
}

.titulo{
	background: linear-gradient(to top, green, white);
	text-shadow: 1px 1px white;
	color: black;
	border: 3px solid green ;
	border-radius: 5px;
	margin: 3px;
	padding: 5px;
}

.titulo img{
	padding-top: 50px;
	width: 150px;
	float: right;
}


