body{
	background-color: #8fb5e9	;
}

.menu{
	font-family: courier,monospace;
	background-color: #8fb5e9;
	color: red;
	margin-left: 0px;
}

.menu a{
	color: #005f6b;
}

.cabeça img{
	width: 1295px;
	height: 300px;
	margin-left: 0px	;

}

.conteudo{
	display: flex;
	color: black;
	justify-content: center;
	align-items: center;

}

#esquerda{
	background-color: #00686c;
	width: 25%;
	height: 500px;
	float: left;
}

#centro{
	background-color: #bff1ce;
	width: 50%;
	height: 500px;
	float: left;

}

#direita{
	background-color: #00686c;
	width: 25%;
	height: 500px;
	float: left;

}


#rodape{
	float: left;
	bottom: 100%;
	width: 100%;
	position: relative;
	background-color: yellow;
	text-align: center;
	height: 20px;
}
